.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100px;
}

.text-description {
  color: #fff;
  font-size: 2em;
  text-align: center;
}